.marquee {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.marquee > p {
    color: white;
    font-size: 32px;
}

@media screen and (max-width: 500px) {
    .marquee {
        width: 300%;
    }
}